#Files that greater than 100M
/Operations Research/GurobiTutorial/GurobiClass/GurobiClass1/课程一 Gurobi 基本操作.mp4
/Operations Research/GurobiTutorial/GurobiClass/GurobiClass2/课程二 Gurobi 功能和操作进阶.mp4
/Operations Research/GurobiTutorial/GurobiClass/GurobiClass3/课程三 Gurobi 高级操作和使用方法.mp4
/Operations Research/GurobiTutorial/GurobiClass/GurobiClass4/课程四 基于Gurobi 的列生成和 Benders 分解方法.mp4
/Operations Research/GurobiTutorial/GurobiClass/GurobiClass5/课程五 Gurobi 供应链物流案例.mp4
/Operations Research/GurobiTutorial/GurobiClass/GurobiClass6/课程六 Gurobi 供应链物流案例(第二讲).mp4
/Operations Research/GurobiTutorial/GurobiClass/GurobiClass7/课程七 Gurobi生产计划调度案例.mp4
/Machine Learning/LightGBM/Example_Project/hpg_reserve.csv
/Neural Network/Basic_Learning/files
